/*=============== main header ===============*//*=============== main header ===============*/
main {
    background-color: #f1f1f1;
}

.main-header {
    padding: 50px 0 40px;
}

.main-header h1 {
    color: var(--first-color);
    text-transform: capitalize;
    font-size: 36px;
    margin-bottom: 10px;
}

.main-header__filter {
    padding: 16px 0;
    margin: 6px 0;
    border-bottom: 5px solid #ccc;
    text-transform: capitalize;
}

.main-header__filter span {
    color: var(--second-color);
    font-weight: bold;
    margin-right: 13px;
}

.main-header__links {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    background-color: white;
    transition: 0.3s;
    margin-bottom: 4px;
    border: #00000052 1px solid;
    border-radius: 2px;
    cursor:default;
}

.main-header__links i {
    margin-right: 10px;
}

.main-header__links:hover {
    background-color: black;
    color: white;
}

.main-header--web {
    text-align: center;
}

span.main__work {
    display: inline-block;
    color: black;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.main__work span {
    font-size: 12px;
    color: var(--second-color);
}

.main__work-link {
    color: var(--text-color);
    font-weight: bold;
}

.main__work-link:hover {
    text-decoration: underline;
}


/*=============== product ===============*//*=============== product ===============*/
.product {
    padding: 20px 0 80px;
}

.product__available {
    padding-bottom: 35px;
    text-align: center;
    color: var(--first-color);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.product__card {
    width: 30%;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0 0 5px 0 #999;
    border-radius: 8px;
}

.product__image-wrapper {
    height: 270px;
    border-bottom: hsl(25deg 83% 53% / 50%) solid 1px;
    border-radius: 8px;
    overflow: hidden;
}

.product__image {
    transition: 0.5s;
    height: 100%;
    width: 100%;
}

.product__image-wrapper:hover .product_image {
    opacity: 0.5;
}

.product__description {
	padding: 25px 16px;
    text-align: center;
}

.product__title {
	font-weight: bold;
	margin-bottom: 15px;
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 20px;
}

.product__text {
	color: #333;  
    text-transform: capitalize;
    font-weight: bold;
}


@media (max-width: 800px) {
    .flex-container {
        gap: 5%;
    }
    
    .product__card {
        width: 30%;
    }
    
    .product__image-wrapper {
        height: 230px;
    }

    .product__title {
        font-size: 18px;
    }
    
    .product__text {
        font-size: 15px;
    }
    
}

@media (max-width: 650px) {
    .flex-container {
        gap: 4%;
    }
    
    .product__card {
        width: 48%;
    }

    .product__image-wrapper {
        height: 255px;
    }
}

@media (max-width: 450px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .product__card {
        width: 75%;
    }

    .product__image-wrapper {
        height: 270px;
    }
}
